.signatureCanvasArea {
  border: 1px solid #ccc;
  height: 27.8px;
  position: relative;
  border: none;
  border-bottom: 1px solid var(--primary-dark);
}

.canvas {
  height: 27.8px;
  width: 100%;
}
